<div class="portfolio-crm-container">
    <div class="crm-laptop" data-aos="flip-left">
      <img src="/assets/img/icons/Polloloco-img.png" />
    </div>
    <div class="crm-informations" data-aos="fade-left">
      <h2>El Pollo Loco</h2>
      <span>JavaScript | HTML | CSS</span>
      <p>
        Jump, run and throw game based on object-oriented approach. Help Pepe to
        find coins and tabasco salsa to fight against the crazy hen.
      </p>
      <div class="crm-button-container">
        <a href="#" target="_blank"
          ><button class="live-test-button">Live test</button></a
        >
        <a href="https://github.com/KobulovUlugbek/El-POLLO-LOCO" target="_blank"
          ><button class="github-button">Github</button></a
        >
      </div>
    </div>
  </div>
  