<footer class="footer">
    <div class="footer-left">
      <div (click)="navigateToSection()">
        <span class="footer-logo" routerLink="/">Ulug</span>
        <span class="footer-logo" style="color: #00bee8">b</span>
        <span class="footer-logo">e</span>
        <span class="footer-logo" style="color: #423fe8">k</span>
      </div>
      <a class="imprint" routerLink="/imprint">Imprint</a>
    </div>
    <div class="footer-middle-container">
      <span class="footer-middle">&copy; Ulugbek Kobulov 2023</span>
      <span class="footer-icons">Icons made by Icons8</span>
    </div>
    <div class="footer-right">
      <a href="https://github.com/KobulovUlugbek" target="_blank">
        <img src="/assets/img/icons/github-img.png" />
      </a>
      <a href="mailto: contact@ulugbek-kobulov.com">
        <img src="/assets/img/icons/message-img.png" />
      </a>
      <a
        href="https://www.linkedin.com/in/ulugbek-kobulov-698196287/"
        target="_blank"
      >
        <img src="/assets/img/icons/linkedin-img.png" />
      </a>
    </div>
  </footer>
  