<div class="about-me-container" id="about-me">
    <div class="about-me-text-container" data-aos="fade-right">
      <h1>About me</h1>
      <p>
        I'm a German-Russian-Uzbek front-end developer with extensive experience in Angular. I excel at creating responsive websites and business applications. <br> My keen interest in IT and programming has developed into a strong passion through various challenging projects. I have a proven track record of successful project delivery and am known for my competence and reliability. <br> Keeping up to date with the latest technology is essential for me to deliver innovative solutions. I'm committed to quality work, continuous improvement and effective collaboration with clients and colleagues. <br> I'm here and eager to delve into my background and skills, with a genuine excitement to bring a valuable impact to your organization.
      </p>
      <div class="image-with-text-container-lamp">
        <img src="/assets/img/icons/lamp.png" />
        <span>I perceive coding as a creative challenge, transcending mere technical duty. I take immense pride in transforming
          intricate problems into elegant solutions. My core belief lies in facilitating individuals to attain their objectives,
          effectively materializing their aspirations through my craft.</span
        >
      </div>
      <div class="image-with-text-container-puzzle">
        <img src="/assets/img/icons/puzzle.png" />
        <span>
          My professional approach is defined by a strong passion for ongoing learning, a quick ability to adapt to new
          situations, and excellent interpersonal skills. These qualities are supported by a dedicated commitment to precise
          programming practices. Being a part of this constantly changing industry allows me to contribute to the development of
          the digital world while exploring the limitless creative opportunities within Information Technology. This serves as a
          lasting source of motivation that keeps me enthusiastic every day.</span
        >
      </div>
    </div>
    <div class="image-container" data-aos="fade-left">
      <div class="circle-image">
        <img src="/assets/img/profil-img2.png" />
      </div>
      <div class="line"></div>
    </div>
  </div>
  