<div class="about-me-container" id="about-me">
    <div class="about-me-text-container" data-aos="fade-right">
      <h1>About me</h1>
      <p>
        Hi, allow me to introduce myself as a German-Russian-Uzbek speaking Frontend Developer with extensive experience in building web applications using Angular. My expertise includes developing responsive websites and business applications. Even as a child, I was captivated by the IT sector, particularly programming. Over time, and with the challenges presented by various projects, this enthusiasm transformed into a profound passion.
        <br> <br>
        I have a successful track record in executing diverse projects and stand out for my high competence and reliability. My experiences have shown me the importance of staying up-to-date with the latest technology to create innovative and efficient solutions.
        <br> <br>
        I am always committed to meeting the highest quality standards and continuously evolving. Collaborating closely with clients and colleagues is close to my heart, as it allows us to achieve the best results together.
         <br> <br>
        I am readily available to discuss further details about my professional background and skills. I look forward to the opportunity of contributing my abilities and experiences to your company.
        <br> <br>
      </p>
      <div class="image-with-text-container-lamp">
        <img src="/assets/img/icons/lamp.png" />
        <span
          >I see coding as a creative challenge rather than a technical task, and
          take pride in converting complex problems into simple solutions. I
          believe in helping people achieve their goals, turning their visions
          into reality through my work.</span
        >
      </div>
      <div class="image-with-text-container-puzzle">
        <img src="/assets/img/icons/puzzle.png" />
        <span
          >My work ethic is defined by my willingness to learn, quick
          adaptability, and excellent interpersonal skills, all reinforced by a
          strong focus on clean programming. Being part of this dynamic industry
          allows me to help shape the digital world and explore the vast creative
          possibilities within IT, which drives my passion every day.</span
        >
      </div>
    </div>
    <div class="image-container" data-aos="fade-left">
      <div class="circle-image">
        <img src="/assets/img/profil-img.png" />
      </div>
      <div class="line"></div>
    </div>
  </div>
  