<div class="about-me-container" id="about-me">
    <div class="about-me-text-container" data-aos="fade-right">
      <h1>About me</h1>
      <p>
        Hi, allow me to introduce myself as a German-Russian-Uzbek speaking Frontend Developer with extensive experience in building web applications using Angular. My expertise includes developing responsive websites and business applications. Even as a child, I was captivated by the IT sector, particularly programming. Over time, and with the challenges presented by various projects, this enthusiasm transformed into a profound passion.
        <br> <br>
        I have a successful track record in executing diverse projects and stand out for my high competence and reliability. My experiences have shown me the importance of staying up-to-date with the latest technology to create innovative and efficient solutions.
        <br> <br>
        I am always committed to meeting the highest quality standards and continuously evolving. Collaborating closely with clients and colleagues is close to my heart, as it allows us to achieve the best results together.
         <br> <br>
        I am readily available to discuss further details about my professional background and skills. I look forward to the opportunity of contributing my abilities and experiences to your company.
        <br> <br>
      </p>
      <div class="image-with-text-container-lamp">
        <img src="/assets/img/icons/lamp.png" />
        <span>I perceive coding as a creative challenge, transcending mere technical duty. I take immense pride in transforming
          intricate problems into elegant solutions. My core belief lies in facilitating individuals to attain their objectives,
          effectively materializing their aspirations through my craft.</span
        >
      </div>
      <div class="image-with-text-container-puzzle">
        <img src="/assets/img/icons/puzzle.png" />
        <span>
          My professional approach is defined by a strong passion for ongoing learning, a quick ability to adapt to new
          situations, and excellent interpersonal skills. These qualities are supported by a dedicated commitment to precise
          programming practices. Being a part of this constantly changing industry allows me to contribute to the development of
          the digital world while exploring the limitless creative opportunities within Information Technology. This serves as a
          lasting source of motivation that keeps me enthusiastic every day.</span
        >
      </div>
    </div>
    <div class="image-container" data-aos="fade-left">
      <div class="circle-image">
        <img src="/assets/img/profil-img.png" />
      </div>
      <div class="line"></div>
    </div>
  </div>
  