<div class="portfolio-join-container">
    <div class="join-laptop" data-aos="flip-left">
      <img src="/assets/img/icons/join-img.png" />
    </div>
    <div class="join-informations" data-aos="fade-left">
      <h2>Join</h2>
      <span>Javascript, HTML, CSS</span>
      <p>
        Develop a task management solution influenced by the Kanban System, allowing the intuitive arrangement of tasks through
        drag-and-drop functionality. Additionally, users can be assigned to tasks, and tasks can be categorized for enhanced
        organization.
      </p>
      <div class="join-button-container">
        <a href="#" target="_blank"
          ><button class="live-test-button">Live test</button></a
        >
        <a href="https://github.com/KobulovUlugbek/Join-Dummy" target="_blank"
          ><button class="github-button">Github</button></a
        >
      </div>
    </div>
  </div>
  