<div class="portfolio-epl-container">
  <div class="epl-informations" data-aos="fade-right">
    <h2>Kochwelt</h2>
    <span>JavaScript | HTML | CSS</span>
    <p>
      Utilizing my expertise in JavaScript, HTML, and CSS, I have crafted an engaging website that offers users the ability to
      specifically search for recipes and create inspiring culinary masterpieces. My comprehensive understanding of web
      programming is evident in the meticulous structure of the webpage, ensuring user-friendly navigation and an appealing
      visual design. The seamless integration of HTML, CSS, and JavaScript allows visitors to effortlessly access recipe
      selections and uncover delightful culinary delights.
    </p>
    <div class="epl-button-container">
      <a
        href="#"
        target="_blank"
        ><button class="live-test-button">Live test</button></a
      >
      <a
        href="https://github.com/KobulovUlugbek/Kochwelt"
        target="_blank"
        ><button class="github-button">Github</button></a
      >
    </div>
  </div>
  <div class="epl-laptop" data-aos="flip-right">
    <img src="/assets/img/icons/kochwelt.png" />
  </div>
</div>
