<div class="portfolio-epl-container">
  <div class="epl-informations" data-aos="fade-right">
    <h2>Simple CRM</h2>
    <span>Angular | Typescript</span>
    <p>
      What is CRUD? CRUD is an acronym that comes from the world of computer programming and refers to the four functions that are considered necessary to implement a persistent storage application: create, read, update and delete.
    </p>
    <div class="epl-button-container">
      <a
        href="https://crud.ulugbek-kobulov.com/"
        target="_blank"
        ><button class="live-test-button">Live test</button></a
      >
      <a
        href="https://github.com/KobulovUlugbek/CRUD-App"
        target="_blank"
        ><button class="github-button">Github</button></a
      >
    </div>
  </div>
  <div class="epl-laptop" data-aos="flip-right">
    <img src="/assets/img/icons/crud.png" />
  </div>
</div>
